<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopStoriesFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TopStoriesFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TopStoriesFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBA6D98128A9219B00BB4757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA6D9E528AA7B1400BB4757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA6D9EC28AA7B1500BB4757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBEEAB7B28A439F300CD65EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBEEAB8328A439F300CD65EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
